@use "../../scss/utils" as *;

$primary-color: whitesmoke;
$logo-color: #0a7788;
$bg-color: #28282b;

.navbar {
  padding: 1em;
  background: $bg-color;
  width: 100%;
  position: fixed;
  top: 0;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;

    &-img {
      width: 80px;
    }

    &-text {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 24px;
      color: $logo-color;
      letter-spacing: 1.5px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    background-color: $bg-color;
    padding: 10px 0 25px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    &--visible {
      transform: translateX(0);
    }

    @include tablet {
      position: relative;
      flex-direction: row;
      transform: translateX(0);
      gap: 40px;
      width: auto;
      top: 0;
      left: 0;
      padding: 0;
    }

    &-item {
      list-style: none;
    }

    &-link {
      font-size: 18px;
      color: $primary-color;
      text-decoration: none;
      display: block;
      position: relative;
      padding: 0.2em 0;

      &:hover {
        color: #6db6e0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: $primary-color;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }

      &:hover::after,
      &:focus::after {
        opacity: 1;
        transform: translateY(0.2em);
      }
    }
  }

  &__toggle {
    cursor: pointer;
    img {
      width: 40px;
    }

    @include tablet{
      display: none;
    }
  }
}
