@use "../../scss/utils" as *;
$primary-color: whitesmoke;
$logo-color: #0a7788;

.topNav {
  padding: 1em;
  background: #28282b;
  width: 100vw;
  height: fit-content;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      justify-content: space-around;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 2px;

  img {
    width: 80px;
  }

  span {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: $logo-color;
  }
}

.hamburgerMenu {
  @include desktop {
    display: none;
  }

  img {
    cursor: pointer;
    width: 40px;
  }
}

.navList {
  display: none;

  @include desktop {
    display: flex;
    gap: 15px;

    li {
      list-style: none;
    }

    a {
      font-size: 18px;
      color: $primary-color;
      text-decoration: none;
      display: block;
      position: relative;
      padding: 0.2em 0;

      :hover {
        color: #6db6e0
      }

      ::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: $primary-color;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
      }

      :hover::after,
      :focus::after {
        opacity: 1;
        transform: translate3d(0, 0.2em, 0);
      }
    }
  }
}
