@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-red-underline {
    @apply relative hover:underline-offset-8 hover:decoration-hover;
  }
  .hover-red-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: theme("colors.hover");
    transition: width 0.3s ease-in-out;
  }
  .hover-red-underline:hover::after {
    width: 100%;
  }
}

* {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h2{
  font-size: 48px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
