@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-red-underline {
    @apply relative hover:underline-offset-8 hover:decoration-hover;
  }
  .hover-red-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0;
    background-color: theme("colors.hover");
    transition: width 0.3s ease-in-out;
  }
  .hover-red-underline:hover::after {
    width: 100%;
  }
}

* {
  font-family: "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h2 {
  font-size: 48px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.bubble {
  width: 4px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  position: absolute;
  animation: bubbleAnimation 5s infinite ease-in-out;
}

@keyframes bubbleAnimation {
  0% {
    transform: translateY(0); /* Start from the bottom */
    opacity: 1;
  }
  100% {
    transform: translateY(-300px); /* Move upwards */
    opacity: 0;
  }
}


@keyframes bubbleAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.level-up-icon {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: fadeInOut 1s ease-in-out;
  pointer-events: none; /* Prevent interference with clicks */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@keyframes glowEffect {
  0% {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6), 0 0 30px rgba(255, 215, 0, 0.4),
      0 0 50px rgba(255, 215, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 215, 0, 1), 0 0 50px rgba(255, 215, 0, 0.8),
      0 0 80px rgba(255, 215, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6), 0 0 30px rgba(255, 215, 0, 0.4),
      0 0 50px rgba(255, 215, 0, 0.3);
  }
}

.glowing-border {
  animation: glowEffect 4s ease-in-out infinite;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted gray;
  transition: all 0.2s ease;
}

.cell.level-up {
  border-color: rgba(255, 215, 0, 1); /* Golden color for level up effect */
  /* Adding glowing effect */
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.6), 0 0 30px rgba(255, 215, 0, 0.4),
    0 0 50px rgba(255, 215, 0, 0.3);
  animation: glowEffect 2s ease-in-out infinite;
  
}
